<ion-header>
	<ion-navbar color="dark">
		<ion-buttons start>
			<button ion-button icon-only>
				<ion-icon name="contact"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			Free Fire Zeclip
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only>
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	<ion-list>
		<ion-card *ngFor="let item of items">
			<ion-card-content>
				<ion-card-title>
					<h1><b>{{ item.titulo }}</b></h1>
				</ion-card-title>
			</ion-card-content>
			<img src="{{ item.img }}"/>
			<ion-card-content>
				
			</ion-card-content>
		</ion-card>
	</ion-list>
</ion-content>